title                    : "Alex Ho"
description              : "Homepage of Alex"
repository               : "alexho11/alexho11.github.io"

# google analytics (optional)
google_analytics_id      :

# SEO Related (optional)
google_site_verification :
bing_site_verification   :
baidu_site_verification  :

# Site Author
author:
  name             : "Hsin-Feng (Alex) Ho"
  avatar           : "images/img.png"
  bio              : "GNSS R&D Engineer"
  location         : "Munich, Germany"
  employer         :
  pubmed           :
  googlescholar    :   
  email            : "hsinfengho99@outlook.com"
  researchgate     :
  uri              :
  github           : "alexho11"
  linkedin         : "hsin-feng-ho-511410217/"
  orcid            :
  twitter          :
  instagram        :

include:
  - .htaccess
  - _pages
  - files

exclude:
  - docs
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .github
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor

keep_files:
  - .git
  - .svn

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"

kramdown:
  input: GFM

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: default
      author_profile: true

sass:
  sass_dir: _sass
  style: compressed

permalink: /:categories/:title/
timezone: Europe/Berlin 

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from

whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

compress_html:
  clippings: all
  ignore:
    envs: development